
<div class="w-75 mx-auto py-4">
    <h4> Login : </h4>

    <div *ngIf="apiError.length>0" class="alert alert-danger">
        {{apiError}}
    </div>

    <form (ngSubmit)="handelLogin(loginForm)" [formGroup]="loginForm">
  

        <label for="email"> E-mail: </label>
        <input type="email" formControlName="email" class="form-control mb-2" id="email">

        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
            <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0">Emial is Invalid</p>
            <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0">Emial is required</p>
        </div>

        <label for="password"> Password: </label>
        <input type="password" formControlName="password" class="form-control mb-2" id="password">

        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger">
            <p *ngIf="loginForm.get('password')?.getError('pattern')" class="m-0">password must start with upperCase and container 5 to 10 </p>
            <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0">password is required</p>
        </div>


        <button [disabled]="loginForm.invalid"   type="submit" class="btn bg-main border-none border-0 text-white d-block ms-auto ">
           <i *ngIf="isloading" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="!isloading"> Login</span>
        </button>


    </form>
</div>
