


  <!-- <section class="categories">
    <div class="container">
      <div class="row">
        <div class="categories__slider owl-carousel owl-loaded owl-drag">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let category of categor">
              <ng-template carouselSlide>
                <div class="col-lg-12">
                  <div class="categories__item set-bg"  [style.backgroundImage]="'url(' + category.image + ')'">
                    <h5><a href="#">{{category.name}}</a></h5>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section> -->


<!-- this is the good  version -->
  <section class="categories">
    <div class="section-title pb-5 p-5">
      <h4>
          All Categories
      </h4>
    </div>
    <div class="container">

      <div class="row">
        <div class="categories__slider owl-carousel owl-loaded owl-drag">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let category of categor">
              <ng-template carouselSlide>
                <div class="col-lg-12">
                  <div class="categories__item set-bg custom-height">
                    <img height="200" [src]="category.image" [alt]="category.name">
                  </div>
                  <h5><a href="#">{{category.name}}</a></h5>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section>
  


  
  
<!-- 
  <owl-carousel-o [options]="customOptions">
  
    <ng-container *ngFor="let category of categor">
      <ng-template carouselSlide >
        <img height="200" [src]="category.image" [alt]="category.name">
        <h4 class="h6 fw-bolder">{{category.name}}</h4>
      </ng-template>
    </ng-container>

  </owl-carousel-o>  -->






  





    <!-- <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let category of categor">
          <ng-template carouselSlide>
            <img height="200" [src]="category.image" [alt]="category.name">
            <h4 class="h6 fw-bolder">{{category.name}}</h4>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
       -->