.shop-cart {
    padding-top: 70px;
    padding-bottom: 90px;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.shop__cart__table {
    margin-bottom: 30px;
}

.shop__cart__table table {
    width: 100%;
}

.shop__cart__table thead {
    border-bottom: 1px solid #f2f2f2;
}

.shop__cart__table thead th {
    font-size: 18px;
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.shop__cart__table tbody tr .cart__product__item {
    overflow: hidden;
    width: 585px;
}
.shop__cart__table tbody tr td {
    padding: 30px 0;
}
.shop__cart__table tbody tr .cart__product__item img {
    float: left;
    margin-right: 25px;
}
img{
    width: 70px;
    height: auto;
}
.shop__cart__table tbody tr .cart__product__item .cart__product__item__title {
    overflow: hidden;
    padding-top: 23px;
}
.shop__cart__table tbody tr .cart__product__item .cart__product__item__title h6 {
    color: #111111;
    font-weight: 600;
}

h6 {
    font-size: 16px;
}
.shop__cart__table tbody tr .cart__price {
    font-size: 16px;
    color: #ca1515;
    font-weight: 600;
    width: 190px;
}

.shop__cart__table tbody tr .cart__quantity {
    width: 190px;
}
.shop__cart__table tbody tr .cart__quantity .pro-qty {
    border: none;
    padding: 0;
    width: 110px;
    border-radius: 0;
}
.pro-qty {
    height: 50px;
    width: 150px;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    padding: 0 20px;
    overflow: hidden;
    display: inline-block;
}
.shop__cart__table tbody tr .cart__quantity .pro-qty .qtybtn {
    font-size: 16px;
    color: #444444;
}
.pro-qty .qtybtn {
    font-size: 14px;
    color: #666666;
    cursor: pointer;
    float: left;
    width: 12px;
    line-height: 46px;
}

.pro-qty .count {
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    border: none;
    float: left;
    width: 84px;
    text-align: center;
    height: 48px;
}
.shop__cart__table tbody tr .cart__quantity .pro-qty .count {
    color: #444444;
}
.shop__cart__table tbody tr .cart__close {
    text-align: right;
}
.shop__cart__table tbody tr .cart__close span {
    height: 45px;
    width: 45px;
    background: #f2f2f2;
    border-radius: 50%;
    font-size: 18px;
    color: #111111;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
}
.icon_close:before {
    content: "\4d";
}

/* total price  */
.discount__content form {
    position: relative;
    width: 370px;
    display: inline-block;
}
.discount__content form input {
    height: 52px;
    width: 100%;
    border: 1px solid #444444;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 115px;
    font-size: 14px;
    color: #444444;
}
.site-btn {
    font-size: 14px;
    color: #ffffff;
    background: #ca1515;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
}
.discount__content form button {
    position: absolute;
    right: 4px;
    top: 4px;
}

.cart__total__procced {
    background: #f5f5f5;
    padding: 40px;
}
.cart__total__procced h6 {
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h6{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.cart__total__procced ul {
    margin-bottom: 25px;
}
.cart__total__procced ul li {
    list-style: none;
    font-size: 16px;
    color: #111111;
    font-weight: 600;
    overflow: hidden;
    line-height: 40px;
}
.cart__total__procced ul li span {
    color: #ca1515;
    float: right;
}
.cart__total__procced .primary-btn {
    display: block;
    border-radius: 50px;
    text-align: center;
    padding: 12px 0 10px;
}
.primary-btn {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 30px 10px;
    color: #ffffff;
    background: #ca1515;
}