<!-- <div class="container">
  <h1 class="text-center bg-danger">Welcome to My Angular Project</h1>
  <button class="btn btn-primary">Click Me</button>
</div>


<div class="container">
  <h1 class="text-center bg-primary">Welcome to My Angular Project</h1>
  <button class="btn btn-primary">
    <i class="fas fa-thumbs-up"></i> Like
  </button>
</div>


<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="../assets/images/category-4.jpg" alt="Image 1">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../assets/images/category-2.jpg" alt="Image 2">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../assets/images/category-1.jpg" alt="Image 3">
  </ng-template>
</owl-carousel-o>


<div class="container">
  <h1 class="text-center">Welcome to My Angular Project</h1>
  <button class="btn btn-success" (click)="showSuccess()">Show Success</button>
  <button class="btn btn-danger" (click)="showError()">Show Error</button>
</div> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>