
<div class="row py-4 align-items-center">
    <div class="col-md-4">
        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let image of productDetails.images">
              <ng-template carouselSlide >
                <img [src]="image">
              </ng-template>
            </ng-container>
        
          </owl-carousel-o>

    </div>

    <div class="col-md-8">

        <h2 class="h4 fw-bolder mb-2 ">{{productDetails?.title}} </h2>
        <p class=" text-muted p-3">{{productDetails?.description}}</p>

        <div class="de-flex align-items-center justify-content-between">

            <span class="text-muted fw-blod font-sm">{{productDetails?.price}} EGP</span>

            <div>
            
                <i class="fas fa-star rating-color"></i>
                <span class="text-muted fw-bold font-sm">{{productDetails?.ratingsAverage}}</span>
            </div>

        </div>
        <button  class="btn bg-main text-white w-100 my-2">+ Add</button>
    </div>
</div>